{% extends "base_layout.html" %}

{% block title %} About {% endblock %}

{% block content %}

    {% load static %}
    <section class=page>
        <div class=header><h2 class="m-title text-center">About Us <span>To contact us use the form bellow</span></h2>
        </div>

        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-md-6">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet consectetur culpa est
                        explicabo facere impedit, itaque maiores maxime modi nesciunt, pariatur recusandae sapiente sed
                        sit
                        temporibus tenetur velit vitae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid explicabo illo ipsum laudantium
                        nesciunt nobis omnis rem saepe tenetur voluptates! Alias cupiditate doloribus ipsum nostrum
                        ratione
                        sint tempora tempore voluptatibus.</p>
                </div>
                <div class="col-md-6">
                    <h3>About Us</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet consectetur culpa est
                        explicabo facere impedit, itaque maiores maxime modi nesciunt, pariatur recusandae sapiente sed
                        sit
                        temporibus tenetur velit vitae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid explicabo illo ipsum laudantium
                        nesciunt nobis omnis rem saepe tenetur voluptates! Alias cupiditate doloribus ipsum nostrum
                        ratione
                        sint tempora tempore voluptatibus.</p>
                </div>
            </div>
        </div>
    </section>

    <hr>


{% endblock %}