{% extends "base_layout.html" %}

{% block title %} Contact {% endblock %}

{% block content %}

    {% load static %}
    <section class=page>
        <div class=header><h2 class="m-title text-center">Contact Us <span>To contact us use the form bellow</span></h2>
        </div>
        <!-- Main Content -->
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-lg-8 col-md-10">


                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form name="sentMessage" id="contactForm" action="{% url 'website:contact' %}" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                {{ form.full_name.label_tag }}
                                {{ form.full_name }}
                                <p class="help-block text-danger">{{ form.full_name.errors }}</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                {{ form.email_address.label_tag }}
                                {{ form.email_address }}
                                <p class="help-block text-danger">{{ form.email_address.errors }}</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{ form.phone_number.label_tag }}
                                {{ form.phone_number }}
                                <p class="help-block text-danger">{{ form.phone_number.errors }}</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                {{ form.message.label_tag }}
                                {{ form.message }}
                                <p class="help-block text-danger">{{ form.message.errors }}</p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <hr>


{% endblock %}