{% extends "base_layout.html" %}

{% block title %} Registration {% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <section class=page>
        <div class=header><h2 class="m-title text-center">Registration <span>To contact us use the form bellow</span>
        </h2>
        </div>
        <div class=container>
            <div class="row justify-content-md-center">
                <div class="col-md-6 mt-5">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form class=mt-5 method="post" action=".">
                        {% csrf_token %}
                        <h3>Registration</h3>

                        <div class="form-row">
                            <div class="col-md-6">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>

                        {{ form.username|as_crispy_field }}

                        {{ form.email|as_crispy_field }}
                        {{ form.password1|as_crispy_field }}
                        {{ form.password2|as_crispy_field }}

                        <button type=submit class="btn btn-primary">Sign Up</button>
                    </form>

                    <div class="border-top mt-5">
                        <small class="text-muted">Already has an account ? <a
                                href="{% url 'website:login' %}">Login </a> </small>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <br><br><br><br>
    <hr>
{% endblock %}
